<html>
  <head>
    <title>E-library</title>
  </head>
  <body>
    <div>
      <p style="display: inline-block;"><a href="{{ url_for('index') }}">Home</a></p>
      <p style="display: inline-block;"><a href="{{ url_for('search') }}">Search</a></p>
      {% if g.user.is_authenticated() %}
        <a href="{{ url_for('logout') }}">Logout</a>  
      {% else %}
        <a href="{{ url_for('signup') }}">Sign Up</a>    
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>