<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Email {{form.email}}
    </p>
    <p>
        Password {{form.password}}
    </p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}
